<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXP5TSB4ehQ--MjF_A5EbLSx_3X1AKFfc</string>
	<key>GCM_SENDER_ID</key>
	<string>519278320999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>web-project-term2</string>
	<key>STORAGE_BUCKET</key>
	<string>web-project-term2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519278320999:ios:0b9734946ddae2ff6163c2</string>
	<key>DATABASE_URL</key>
	<string>https://web-project-term2-default-rtdb.firebaseio.com</string>
</dict>
</plist>